<div class="container">
    <form action="" method="POST" id="form-login">
        <div class="mb-3">
            <label for="inputUsername" class="form-label">Ingrese su nombre</label>
            <input type="text" name="username" class="form-control form-text" id="username">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Ingrese su contraseña</label>
            <input type="text" name="password" class="form-control form-text" id="password">
        </div>
        <button class="btn btn-info mt-3">Registrar</button>
    </form>
</div>